<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/nav' %>

  <!-- Begin page content -->
  <div class="container">
    <% if content_for?(:header) %>
      <%= content_for(:header) %>
    <% end %>
    
    <%= render 'shared/alert_messages' %>
    
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
